<div class="topnav">
    <div class="logo-container">
      <a class="internal-link logo-link" href="/">
        <img alt="" src="../assets/logo-nav-svg.png" class="logo"/>
      </a>
    </div>
  <a id="garden-title" class="internal-link" href="/">Pensamento Sistêmico</a>
  <div class="topnav-right">
    <img alt="" id="about-btn" src="../assets/question.svg" onclick="window.open('sobre', '_self')"/>
    <img alt="" src="" title="atalho: n" id="dark-mode-btn" onclick="toggleDarkMode()"/>
  </div>
</div>
