.nodes circle {
    cursor: pointer;
    width: 500px;
    height: 500px; 
    fill: var(--color-background);
    stroke: var(--color-node);
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
    transition: all 0.15s ease-out;
}

.links line {
    stroke: rgb(205, 205, 205);
    opacity: 0.8;
}

.text text {
    cursor: pointer;
    fill: var(--text-node);
}

.nodes [active],
.text [active] {
    font-weight: bold;
    cursor: pointer;
    stroke: none;
    fill: var(--color-active) !important;
}

.inactive {
    height: auto;
    opacity: var(--opacity-inactive);
    transition: all 0.15s ease-out;
}

.nodes [visited] {
    fill: var(--color-node);
}

#graph-wrapper {
    height: 50%;
    width: 100%;
    &, svg {
        transition: $transition;
        border-radius: 25px;
    }
    background: var(--graph-background);
    display: flex;
    box-shadow: var(--graph-wrapper-shadow);
}

.graphWrapperTransition {
    animation: fadeIn 1s; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to { 
        scale: 1;
    }
  }