content a.internal-link {
    color: var(--color-a);
    font-weight: 550;
}

#tooltip-wrapper {
    background: var(--color-background);
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 250px;
    font-size: 0.8em;
    box-shadow: 0 5px 1px rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 100ms;
}

#tooltip-wrapper:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 75px;
}