#ProgressBar {
    width: 100%; 
    height: 2rem;
    border: 2px solid #4c445c;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
#Progress {
    --current-percentage: 0%;
    --color-gradient-progress: #ffab55,#f60061,#a700ea;

    width: var(--current-percentage);
    background: linear-gradient(to right, var(--color-gradient-progress));
    height: 100%;
    position: relative;
    border-radius: 10px;

    border-color: #4A90E2;
    transition: width .5s ease-in-out,background-size .5s ease-in-out;
}

#ProgressBar-frac {
    display: flex;
    position: absolute;
    align-items:center;
    height: 100%;
    top: 0;
    right: 0.5rem;
    color: var(--color-text);
}

.ProgressBar_outside {
    width: 0;
    transform: translateX(1rem);
    color: gray;
}

#ProgressRoot {
    flex-grow: 1;
    line-height: 2rem;
}