---
layout: default
---

<article>
  {% if page.title != "home" %}
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
    {% endif %}

    {% if page.title != "home" %}
    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">notas conectadas</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          Nenhuma nota encontrada.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
  {% endif %}

</article>

<hr>

{% include notes_graph.html %}
